<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <meta name="description" content="">
  <meta name="og:title" content="">
  <meta name="og:description" content="">
  <meta name="og:image" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="">
  <link rel="icon" type="image/png" href="">
    <link id = "viewCSS" rel="stylesheet" href="style.css">
  <style id="customCSS">
  </style>
</head>
<body>
<div class="container">
<h1>IMP! (It's My Page!)</h1>
<p>Like a markdown-based CMS for single file, fully client-side. When you need just drop one page somewhere on the web, and do not want (can not) use full-blown CMS or SSG, but still want to use GUI for content editing.</p>
<h2>How it works</h2>
<p>When you load IMP! Locally, it opens up an editor, where ypu can enter or import your text, setup SEO tags and custom CSS. When the very same page is served over http, user gets a light, <strong>static</strong> HTML.</p>
<h2>Step by step guide</h2>
<ol>
<li>Download and unpack. There are 3 files: <code>index.html</code>, <code>style.css</code> and <code>editor.js</code></li>
<li>Open the <code>index.html</code> in your browser (Firefox or Chrome is recommended)</li>
<li>Edit it, import or enter your text, preview it. Click the big "Export HTML" button and save file to the same directory. If you didn't change file name, overwrite old file.</li>
<li>Upload files to server, you may skip <code>editor.js</code>, as it's not required for <em>viewing</em> file.</li>
<li>That's it.</li>
</ol>
<h2>Customization</h2>
<p>There is a field for custom CSS in each IMP! file for small adjustments. But you can replace the whole <code>style.css</code> with your own. There is nothing fancy about it.</p>
<h2>More files</h2>
<p>You can have as many imps as you want. If they would live in one directory, they will share single <code>editor.js</code> file.</p>
<h2>License</h2>
<ul>
<li>Mostly MIT, except:</li>
<li>CC BY-CA - default theme based on Cutenberg  (which is licensed under CC BY-CA)</li>
</ul>
<h2>Wouldn't be possible without awesome projects like:</h2>
<ul>
<li><a href="https://github.com/Ionaru/easy-markdown-editor">EasyMDE</a></li>
<li><a href="https://matejlatin.github.io/Gutenberg/">Gutenberg CSS</a></li>
<li><a href="https://milligram.io/">Milligram CSS framework</a></li>
</ul>
</div><footer id="pageFooter">Powered by <a href="https://github.com/girobusan/imp">IMP!</a> and <a href="https://matejlatin.github.io/Gutenberg/">Gutenberg CSS</a></footer><script id="pageData" type="data/json">{"markdown":"# IMP! (It's My Page!)\n\nLike a markdown-based CMS for single file, fully client-side. When you need just drop one page somewhere on the web, and do not want (can not) use full-blown CMS or SSG, but still want to use GUI for content editing.\n\n## How it works\n\nWhen you load IMP! Locally, it opens up an editor, where ypu can enter or import your text, setup SEO tags and custom CSS. When the very same page is served over http, user gets a light, **static** HTML. \n\n## Step by step guide\n\n1. Download and unpack. There are 3 files: `index.html`, `style.css` and `editor.js`\n2. Open the `index.html` in your browser (Firefox or Chrome is recommended)\n3. Edit it, import or enter your text, preview it. Click the big \"Export HTML\" button and save file to the same directory. If you didn't change file name, overwrite old file.\n4. Upload files to server, you may skip `editor.js`, as it's not required for *viewing* file.\n5. That's it.\n\n## Customization\n\nThere is a field for custom CSS in each IMP! file for small adjustments. But you can replace the whole `style.css` with your own. There is nothing fancy about it.\n\n## More files\n\nYou can have as many imps as you want. If they would live in one directory, they will share single `editor.js` file. \n\n## License\n\n- Mostly MIT, except:\n- CC BY-CA - default theme based on Cutenberg  (which is licensed under CC BY-CA)\n\n\n## Wouldn't be possible without awesome projects like:\n\n- [EasyMDE](https://github.com/Ionaru/easy-markdown-editor)\n- [Gutenberg CSS](https://matejlatin.github.io/Gutenberg/)\n- [Milligram CSS framework](https://milligram.io/)\n","settings":{"title":"IMP!","description":"Small tool","filename":"index.html","footer":"Powered by <a href='https://github.com/girobusan/imp'>IMP!</a> and <a href='https://matejlatin.github.io/Gutenberg/'>Gutenberg CSS</a>","css":"\n  "}}</script><script>window.settings={"title":"IMP!","description":"Small tool","filename":"index.html","footer":"Powered by <a href='https://github.com/girobusan/imp'>IMP!</a> and <a href='https://matejlatin.github.io/Gutenberg/'>Gutenberg CSS</a>","css":"\n  "}</script></body></html>
