<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <meta name="description" content="">
  <meta name="og:title" content="">
  <meta name="og:description" content="">
  <meta name="og:image" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="">
  <link rel="icon" type="image/png" href="">
    <link id = "viewCSS" rel="stylesheet" href="style.css">
  <style id="customCSS">
  </style>
</head>
<body>
<div class='container'>
<h1>Во глубине сибирских руд</h1>
<p>Немало бодхисаттв и будд</p>
</div>
 <script id="pageData" type="data/json">
{
  "settings":{
    "title": "IMP!",
    "description": "Small tool",
    "filename" : "index.html",
    "footer" : "Powered by <a href='https://github.com/girobusan/imp'>IMP</a> and <a href='https://matejlatin.github.io/Gutenberg/'>Gutenberg CSS</a>"

  },
  "markdown" : "# Hi!"
}
 </script>
 <script>
window.settings= {
    "title": "IMP!",
    "description": "Small tool",
    "filename" : "index.html",
    "footer" : "Powered by <a href='https://github.com/girobusan/imp'>IMP!</a> and <a href='https://matejlatin.github.io/Gutenberg/'>Gutenberg CSS</a>"

  }
</script>
</body>
</html>
