// Contain overflow in all browsers.
pre {
  overflow: auto;
}

// Address odd `em`-unit font size rendering in all browsers.
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

code{
  display: inline;
  padding: .2rem .4rem;
  font-size: 85%;
  border-radius: 3px;
}

pre code {
  font-size: inherit;
  @include padding-equal(1);

  display: block;
  overflow-x: auto;
  // margin-bottom: #{-$leading + "px"};
  // margin-bottom: #{-$leading-rem + "rem"};

  @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    @import '../mixins/padding';

    @include padding-equal(1);
  }

}
