@use "../scss/normalize.css";
// @import '../scss/nofont.scss';
@import "bulma/sass/utilities/controls";
// @import 'bulma/sass/utilities/mixins';
@import "bulma/sass/utilities/extends";

@import "bulma/sass/form/_all";
@import "bulma/sass/base/_all";

@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/title.sass";

$hatch_color: rgba(0, 0, 0, 0.26);
$hatch_bg_color: rgba(0, 0, 0, 0.25);
$violet_color: #a54aed;
$resize_handle_height: 8px;
$gray_bg: #989898;

body {
  background-color: #b0b0b0;
  // overflow-y: clip;
  /* background-image: linear-gradient(  */
  /*     to bottom right,  */
  /*     $hatch_color, */
  /*     $hatch_color 10%, */
  /*     $hatch_bg_color 10%, */
  /*     $hatch_bg_color 40%, */
  /*     $hatch_color 40%, */
  /*     $hatch_color 60%, */
  /*     $hatch_bg_color 60%, */
  /*     $hatch_bg_color 90%, */
  /*     $hatch_color 90%, */

  /*     ); */
  /* background-size: 16px 16px; */
  /* background-repeat: repeat; */
  * {
    box-sizing: border-box;
  }
}

/* hide page scrollbar */
html {
  scrollbar-width: none;
}

/* Firefox */
body {
  -ms-overflow-style: none;
}

/* IE and Edge */
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
}

/* Chrome */
/* end hide page scrollbar */

h2.subtitle {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  margin-top: 3rem;
}

/* button , input[type=button]{ */
// box-sizing: border-box;
// height: initial !important;
//}

button.TButton.alerted {
  background-color: $violet_color !important; //lighten( $violet_color , 15% ) !important;
}

.PageEditor {
  .IMPBrand {
    color: currentColor;
    pointer-events: none;
    user-select: none;
    font-size: 14px;
    opacity: 0.7;

    svg {
      display: inline;
      width: 18px;
      height: 18px;
      position: relative;
      top: 3px;
    }
  }

  .settingsEditorOverlay {
    position: absolute;
    left: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    top: 32px;
    background-color: $gray_bg;
    border-radius: 16px 16px 0 0;
    padding: 40px 16px 16px 16px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: all 0.5s;
    z-index: 20;
    min-width: 800px;

    @media (max-width: 800px) {
      margin-left: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0;
      transform: translateX(0);
      min-width: initial;
      transition: none;
    }

    &[data-shown*="false"] {
      opacity: 0;
      display: none;
    }

    &[data-shown*="true"] {
      opacity: 1;
      display: block;
    }

    .scrolledArea {
      overflow-y: auto;
      height: 100%;
      position: relative;
      scrollbar-color: #444 transparent;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: $gray_bg;
      }

      &::-webkit-scrollbar-button {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #444;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        overflow: hidden;
      }

      &:before {
        content: " ";
        position: fixed;
        left: 0;
        right: 24px;
        top: 0;
        height: 60px;
        user-select: none;
        pointer-events: none;
        background-image: linear-gradient(to bottom,
            $gray_bg 40px,
            transparent);
        z-index: 10;
      }

      &:after {
        content: " ";
        position: fixed;
        left: 0;
        right: 24px;
        bottom: 0;
        height: 60px;
        user-select: none;
        pointer-events: none;
        background-image: linear-gradient(to top, $gray_bg 16px, transparent);
      }
    }

    .closeButton {
      position: absolute;
      right: 8px;
      top: 8px;
      appearance: none;
      border: none;
      background: transparent;
      font-size: 32px;
      line-height: 24px;
      width: 24px;
      height: 24px;
      padding: 0;
      margin: 0;
      display: block;
      cursor: pointer;
      z-index: 20;
      color: #444;

      &:hover {
        color: $violet_color;
      }
    }
  }

  hr {
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
  }

  .editor_ui {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* padding-bottom: $resize_handle_height; */
    .BareMDE {
      height: 100%;
    }

    &:after {
      display: block;
      position: absolute;
      content: " ";
      height: 4px;
      width: 100%;
      bottom: -4px;
      background: linear-gradient(to bottom,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0));
    }

    margin: 0;
    // border-radius: 6px;
    overflow: hidden;
    // margin-bottom: 1rem;
    // border-bottom: 1px solid silver;
  }

  .main_ui {
    all: unset;
    display: block;
    margin-top: 0px;
    padding: 0 16px;
    padding-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 640px;

    @media (max-width: 800px) {
      min-width: initial;
    }

    h2:first-child {
      margin-top: 0.4em;
    }
  }

  .areacss {
    min-height: 300px;
  }

  // .editorArea{
  //   // height: calc(100vh - 200px);
  // }
}

input[type*="button"].violet {
  background-color: $violet_color;
  color: white;
  border-color: darken($violet_color, 10%);

  &:hover {
    background-color: $violet_color; // lighten($violet_color , 10%)
  }
}

.TheInput {
  margin-bottom: 1rem;
  box-sizing: border-box;

  input,
  textarea {
    &::placeholder {
      color: gray;
    }

    box-sizing: border-box;

    &:focus {
      outline: none;
      border: 1px solid $violet_color;
      box-shadow: 0 0 4px $violet_color;
    }
  }
}

.formRow {
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  .TheInput {
    flex-grow: 1;
  }

  .divider {
    width: 12px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-grow: 0;
  }

  @media (max-width: 600px) {
    flex-direction: column;

    .divider {
      height: 8px;
    }
  }
}

//some form
label.horizontal {
  div {
    display: inline;
    margin-right: 12px;
  }
}
