.Tabbed{
  height: 28px;
  background-color: #444;
  .Tab{
    appearance: none;
    border: none;
    height: 28px;
    color: white;
    font-size: 14px;
    line-height: 100%;
    padding: 2px 14px 4px 14px;
    background-color: inherit;
    cursor: pointer;
    &.viewModeTab.faded{
      /* height: 24px; */
      /* margin-left: 14px; */
      /* border-radius: 14px; */
      background-color: orangered;
      color: black;
       
    }
    &.faded{
      opacity: 0.4;
      background-color: black;
    }
    &.active.pageSettingsTab{
      background-color: #b0b0b0;
      color: #444;
    }
  }
  .tabBranding{
    color: gray;
    pointer-events: none;
    user-select: none;
    font-size: 14px;
    position: absolute;
    right: 12px;
    top: 2px;
    text-align: right;
  }
}

.TabPage{
  width: 100%;
  height: calc( 100vh - 24px);
  position: relative;
  overflow-y: scroll;
}
