body{
  font-family: Arial, Helvetica , sans-serif;
  font-size: 18px;
  line-height: 140%;
background-color: #b99ac5 ; 
color: #333;
}
code{
  background-color: rgba( 255 , 255 , 255 , 0.15 );
  display: inline-block;
  border-radius: 3px;
  padding: 0 4px;
}
.HatcherUI{
  width: 450px;
  margin: 2em auto;
}
.Hatcher{
  border-radius: 6px;
  height: 300px;
  width: 300px;
  background-color: rgba( 0 , 0 , 0 , 0.2 );
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color , 1s;
  cursor: crosshair;

  &.hover{
  background-color: #7f497f;
   &::before{
     content: "Drop!"
   }
  }

  &::before{
    pointer-events: none;
    content: "Drag your markdown files here";
    color: white;
    font-size: 0.75em;
    letter-spacing: 0.1em;
  }

}
