@use "./Gutenberg-master/src/style/gutenberg.scss";
@use "./atom-one-light.min.css";
body, html{
  margin:0;
  padding:0;
  width:100%;
  min-height: 100vh;
}

li{
  input[type=checkbox]{
    margin:0;
    margin-right: 6px;
    
  }
  label{
    margin:0;
  }
}

.container{
  margin-top:1rem;
  @media(max-width:800px){
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

table{
  th{
    border-bottom: 1px solid gray;
  }
  th,td{
    padding: 4px 12px;
    text-align: left;
  }
}

body footer#pageFooter{
  color: #555;
  // width: 100%;
  border-top: 2px solid black;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  @media(max-width: 800px){
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
  }
}

code{
  background-color: rgba(0,0,0,.1);
}

a{
  color: inherit;
  text-decoration: underline;
  text-decoration: solid underline royalblue 1px;
  &:hover{
    color: royalblue;
  }
  &:visited {
  color: #555555;
  text-decoration-color: #555555;
  &:hover{
    color: #555555;
  }
  }
}
