.editor-toolbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  button{
    // background-color: skyblue !important;
    box-sizing: border-box;
    width: 32px !important;
    height: 32px !important;
    padding: 3px !important;
    // margin-right: 6px !important;
  }
  button , .separator{
    margin-right: 6px !important;
    &:last-child{
      margin-right: 0 !important;
    }
  }
}

.fa{
  // background-color: red;
  display: block !important;
  overflow: visible;
  width: 24px;
  height: 24px;
  padding: 0;
  margin:0;
  background-repeat: no-repeat;

   &:before{
      display: none;
    }

  &.fa-bold{
     background-image: url("../icons/format_bold_FILL0_wght400_GRAD0_opsz24.svg");
  }
  &.fa-italic{
     background-image: url("../icons/format_italic_FILL0_wght400_GRAD0_opsz24.svg");
  }
  &.fa-strikethrough{
     background-image: url("../icons/strikethrough_s_FILL0_wght400_GRAD0_opsz24.svg");
  }
  &.fa-header{
     background-image: url("../icons/header-24px.svg");
  }

  &.fa-quote-left{
     background-image: url("../icons/format_quote_FILL0_wght400_GRAD0_opsz24.svg");
  }
  &.fa-list-ul{
     background-image: url("../icons/format_list_bulleted_FILL0_wght400_GRAD0_opsz24.svg");
  }
  &.fa-list-ol{
     background-image: url("../icons/format_list_numbered_FILL0_wght400_GRAD0_opsz24.svg");
  }
  &.fa-image{
     background-image: url("../icons/image_FILL0_wght400_GRAD0_opsz24.svg");
  }
  &.fa-link{
     background-image: url("../icons/link_FILL0_wght400_GRAD0_opsz24.svg");
  }
  &.fa-columns{
     background-image: url("../icons/vertical_split_FILL0_wght400_GRAD0_opsz24.svg");
  }
  &.fa-arrows-alt{
     background-image: url("../icons/fullscreen_FILL0_wght400_GRAD0_opsz24.svg");
     .active &{

     background-image: url("../icons/fullscreen_exit_FILL0_wght400_GRAD0_opsz24.svg");
     }
  }
  &.fa-question-circle{
     background-image: url("../icons/help_FILL0_wght400_GRAD0_opsz24.svg");
  }
  &.fa-floppy-o{
     background-image: url("../icons/save_as_FILL0_wght400_GRAD0_opsz24.svg");
  }
  &.fa-download{
     background-image: url("../icons/download_FILL0_wght400_GRAD0_opsz24.svg");
  }
  &.fa-upload{
     background-image: url("../icons/upload_FILL0_wght400_GRAD0_opsz24.svg");
  }
  


  &.fa-eye{
    background-image: url("../icons/preview_FILL0_wght400_GRAD0_opsz24.svg");
  }
}
